<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cypher Vault</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='imgs/icon.png') }}"
      type="image/png"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <i class="fa-solid fa-bars menu-icon" id="menu-icon"></i>
        <img
          src="../static/imgs/icon.png"
          alt="Icono Cypher Vault"
          class="header-logo"
        />
        <a href="/">Innovasoft</a>
      </div>

      <nav class="nav" id="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="#who">Quiénes Somos</a></li>
          <li class="nav-item"><a href="#">Cypher Vault</a></li>
          <li class="nav-item"><a href="#">Demo</a></li>
        </ul>
      </nav>
      <div class="overlay" id="overlay"></div>
    </header>

    <div class="main" id="cypher">
      <div class="text-content">
        <h1 class="title">Cypher Vault</h1>
        <p class="description">
          Obtén la mejor aplicación de guardado de imágenes de forma totalmente
          segura.
        </p>
        <a
          href="https://drive.google.com/uc?export=download&id=1SvjcLxBQ4uISHwmr86_VS3v5v1UJW_Pl"
          class="download"
          >Descargar en Android <i class="fa-solid fa-download"></i
        ></a>
      </div>
      <div class="image-content">
        <img
          src="../static/imgs/tabletCypher.png"
          alt="Icono Cypher Vault"
          class="image"
        />
      </div>
    </div>

    <div class="container" id="who">
      <div class="container-text-content">
        <h1 class="container-title">¿Quiénes somos?</h1>
        <p class="container-description">
          En Innovasoft, somos un equipo de estudiantes apasionados por la tecnología, dedicados a desarrollar soluciones de software que transformen ideas en realidad. 
        </p>
        <a
          href="https://github.com/ferrt1/TP_Labo_Principal"
          class="container-button"
          >Más información </a>
      </div>
      <div class="image-content">
        <img
          src="../static/imgs/tabletCypher.png"
          alt="Icono Cypher Vault"
          class="container-image"
        />
      </div>
    </div>

    <div class="container" id="who">
      <div class="container-text-content">
        <h1 class="container-title">Cypher Vault</h1>
        <p class="container-description">
          Cypher Vault es la primera aplicación desarrollada por el equipo de InnovaSoft. Esta misma realiza un registro e inicio de sesión con autentificación facial así luego se tiene una galería segura para el usuario.
        </p>
        <a
          href="https://github.com/ferrt1/TP_Labo_Principal"
          class="container-button" target="_blank"
          >Más información </a>
      </div>
      <div class="image-content">
        <img
          src="../static/imgs/tablet-004.png"
          alt="Icono Cypher Vault"
          class="container-image"
        />
      </div>
    </div>

    <script src="../static/js/scripts.js"></script>
    <script
      src="https://kit.fontawesome.com/6616501bac.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
