<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cypher Vault</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='imgs/icon.png') }}"
      type="image/png"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <!-- <header class="header">
      <div class="logo">
        <i class="fa-solid fa-bars menu-icon" id="menu-icon"></i>
        <img
          src="../static/imgs/icon.png"
          alt="Icono Cypher Vault"
          class="header-logo"
        />
        <a href="/">Innovasoft</a>
      </div>

      <nav class="nav" id="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="#updates">Actualizaciones</a></li>
          <li class="nav-item"><a href="#who">Información</a></li>
          <li class="nav-item"><a href="#">Demo</a></li>
        </ul>
      </nav>
      <div class="overlay" id="overlay"></div>
    </header> -->

    <div class="first-screen">
      <div class="main" id="cypher">
        <div class="text-content">
          <h1 class="title">Cypher Vault</h1>
          <p class="description">
            Obtén la mejor aplicación de guardado de imágenes de forma totalmente
            segura.
          </p>
          <a
            href="https://drive.google.com/uc?export=download&id=1SvjcLxBQ4uISHwmr86_VS3v5v1UJW_Pl"
            class="download"
            >Descargar en Android <i class="fa-solid fa-download"></i
          ></a>
        </div>
        <div class="image-content">
          <img
            src="../static/imgs/tabletCypher.png"
            alt="Icono Cypher Vault"
            class="image"
          />
        </div>
        <div class="arrow-container">
          <i class="fa-solid fa-arrow-down"></i>
        </div>
      </div>
  
    </div>
    <h2>Actualizaciones</h2>

    <div class="updates" id="updates">
      <div class="black-container" id="who">
        <div class="black-container-content">
          <div class="black-container-text-content">
            <h3 class="black-container-title">Compartir imágenes</h3>
            <p class="black-container-description">
              El usuario podrá compartir las imágenes de su galería con quien quiera. Se generará un código QR para poder compartirlo o podrá enviar el link de la imágen si así lo quisiera.
            </p>
          </div>
        </div>
        <div class="black-container-image-wrapper">
          <img
            src="../static/imgs/qrCode.png"
            alt="Icono Cypher Vault"
            class="black-container-image"
          />
        </div>
        <a
        href="https://github.com/ferrt1/TP_Labo_Principal"
        class="black-container-button"
        >Más información </a>
      </div>

      <div class="black-container" id="who">
        <div class="black-container-content">
          <div class="black-container-text-content">
            <h3 class="black-container-title">Segunda autentificación</h3>
            <p class="black-container-description">
              Se agrego una segunda autentificación para darle más seguridad al usuario. Puedes verlo en el apartado de tu perfil.
            </p>
          </div>
        </div>
        <div class="black-container-image-wrapper">
          <img
            src="../static/imgs/mailCode.png"
            alt="Icono Cypher Vault"
            class="black-container-image"
          />
        </div>
        <a
        href="https://github.com/ferrt1/TP_Labo_Principal"
        class="black-container-button"
        >Más información </a>
      </div>
    </div>

    <div class="info">
      <div class="container" id="who">
        <div class="container-content">
          <div class="container-text-content">
          <h1 class="container-title">¿Quiénes somos?</h1>
          <p class="container-description">
            En Innovasoft, somos un equipo de estudiantes apasionados por la tecnología, dedicados a desarrollar soluciones de software que transformen ideas en realidad. 
          </p>
        </div>
          <a
            href="https://github.com/ferrt1/TP_Labo_Principal"
            class="container-button"
            >Más información </a>
        </div>
        <div class="container-image-wrapper">
          <img
            src="../static/imgs/innovaSoft.png"
            alt="Icono Cypher Vault"
            class="container-image"
          />
        </div>
      </div>
  
      <div class="container" id="who">
        <div class="container-content">
          <div class="container-text-content">
            <h1 class="container-title">Cypher Vault</h1>
            <p class="container-description">
              Cypher Vault es la primer aplicación de InnovaSoft que ofrece registro e inicio de sesión mediante reconocimiento facial y proporciona una galería segura para el usuario.
            </p>
          </div>
          <a
            href="https://github.com/ferrt1/TP_Labo_Principal"
            class="container-button" target="_blank"
            >Más información </a>
        </div>
        <div class="container-image-wrapper">
          <img
            src="../static/imgs/tablet-004.png"
            alt="Icono Cypher Vault"
            class="container-image"
          />
        </div>
      </div>
    </div>


    <script src="../static/js/scripts.js"></script>
    <script
      src="https://kit.fontawesome.com/6616501bac.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
