<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cypher Vault</title>
  <link rel="icon" href="{{ url_for('static', filename='imgs/icon.png') }}" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename='imgs/icon.png') }}" alt="Icono Cypher Vault" class="icon">
    <h1>Cypher Vault</h1>
    <p class="description">Cypher Vault es una aplicación de guardado de imágenes de forma totalmente segura.</p>
    <button>Descárgalo aquí</button>
  </div>
</body>
</html>
